/KerbalJointReinforcement/KerbalJointReinforcement/bin/*
/KerbalJointReinforcement/KerbalJointReinforcement/obj/Debug/*
KerbalJointReinforcement/.vs
KerbalJointReinforcement/KerbalJointReinforcement/obj
